[Desktop Entry]
Type=Application
Name[am]=Kwin
Name[ar]=ماركو
Name[as]=Kwin
Name[ast]=Kwin
Name[az]=Kwin
Name[be]=Kwin
Name[bg]=Kwin
Name[bn]=মেটাসিটি
Name[bn_IN]=Kwin
Name[br]=Kwin
Name[bs]=Kwin
Name[ca]=Kwin
Name[ca@valencia]=Kwin
Name[cmn]=Kwin
Name[crh]=Kwin
Name[cs]=Kwin
Name[cy]=Kwin
Name[da]=Kwin
Name[de]=Kwin
Name[dz]=མེ་ཊ་སི་ཊི།
Name[el]=Kwin
Name[en_AU]=Kwin
Name[en_CA]=Kwin
Name[en_GB]=Kwin
Name[eo]=Kwin
Name[es]=Kwin
Name[et]=Kwin
Name[eu]=Kwin
Name[fa]=متاسیتی
Name[fi]=Kwin
Name[fr]=Kwin
Name[ga]=Kwin
Name[gl]=Kwin
Name[gu]=મેટાસીટી
Name[ha]=Metaciti
Name[he]=Kwin
Name[hi]=मेटासिटी
Name[hr]=Kwin
Name[hu]=Kwin
Name[hy]=Մետասիթի
Name[id]=Kwin
Name[ie]=Kwin
Name[ig]=Kwin
Name[is]=Kwin
Name[it]=Kwin
Name[ja]=Kwin
Name[ka]=Kwin
Name[kn]=ಮೆಟಾಸಿಟಿ
Name[ko]=마르코
Name[ku]=Kwin
Name[ky]=Kwin
Name[la]=Kwin
Name[lt]=Kwin
Name[lv]=Kwin
Name[mai]=मेटासिटी
Name[mg]=Kwin
Name[mk]=Kwin
Name[ml]=മെറ്റാസിറ്റി
Name[mn]=Kwin
Name[mr]=Kwin
Name[ms]=Kwin
Name[nb]=Kwin
Name[nds]=Kwin
Name[ne]=मेटासिटि
Name[nl]=Kwin
Name[nn]=Kwin
Name[oc]=Kwin
Name[or]=ମେଟାସିଟି
Name[pa]=ਮੈਟਾਸਿਟੀ
Name[pl]=Kwin
Name[pt]=Kwin
Name[pt_BR]=Kwin
Name[ro]=Kwin
Name[ru]=Kwin
Name[sk]=Kwin
Name[sl]=Kwin
Name[sq]=Kwin
Name[sr]=Метасити
Name[sr@latin]=Metasiti
Name[sv]=Kwin
Name[ta]=மெட்டாசிட்டி
Name[te]=మెటాసిటి
Name[th]=Kwin
Name[tk]=Kwin
Name[tr]=Kwin
Name[uk]=Kwin
Name[uz]=Kwin
Name[vi]=Kwin
Name[wa]=Kwin
Name[xh]=IKwin
Name[yo]=Kwin
Name[zh_CN]=Kwin
Name[zh_HK]=Kwin
Name[zh_TW]=Kwin
Name=Kwin
Exec=kwin_x11
NoDisplay=true
# name of loadable control center module
X-MATE-WMSettingsModule=kwin
# name we put on the WM spec check window
X-MATE-WMName=Kwin
# back compat only 
X-MateWMSettingsLibrary=kwin
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=kwin
X-MATE-Bugzilla-Component=general
X-MATE-Autostart-Phase=WindowManager
X-MATE-Provides=windowmanager
X-MATE-Autostart-Notify=true
